---
import Layout from "../layouts/Layout.astro"
import BlogCard from "../components/BlogCard.astro";
import BlogList from "../components/BlogList.astro";
import Cols2 from "../layouts/Cols2.astro";
import Cols3WithDivider from "../layouts/Cols3WithDivider.astro";
import Cols2WithDivider from "../layouts/Cols2WithDivider.astro";
import RowsWithDivider from "../layouts/RowsWithDivider.astro";
import BlogGrids from "../components/BlogGrids.astro";
import YoutubeEmbed from "../components/YoutubeEmbed.astro";
import Trending from "../components/Trending.astro";
import Popular from "../components/Popular.astro";

export function GET({ redirect }) {
  return redirect('/en/');
}

const blogs = [
    {
        title: "This is blog title",
        category: "Category",
        description: "In the Age of Information, news media faces both unprecedented opportunities and significant challenges.",
        image: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80",
    },
    {
        title: "This is blog title",
        category: "Category",
        description: "In the Age of Information, news media faces both unprecedented opportunities and significant challenges.",
        image: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80",
    },
    {
        title: "This is blog title",
        category: "Category",
        description: "In the Age of Information, news media faces both unprecedented opportunities and significant challenges.",
        image: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80",
    }
];
---

<Layout>
    <Cols3WithDivider className="border-b my-5">
        <div class="flex flex-col gap-5 lg:-ml-5" slot="col-1">
            <h2>Breaking</h2>
            <RowsWithDivider>
                <BlogCard />
                {
                    blogs.map(blog => (
                        <BlogList thumbnail="https://placehold.co/50x50">
                            <h1 slot="title">{blog.title}</h1>
                            <span slot="category">{blog.category}</span>
                            <Fragment slot="author">
                                <span>Author name</span>
                            </Fragment>
                            <Fragment slot="date">
                                Jan 1, 2024
                            </Fragment>
                        </BlogList>
                    ))
                }
            </RowsWithDivider>
        </div>

        <Fragment slot="col-2">
            <RowsWithDivider>
                <BlogGrids />
                
                {
                    blogs.map(blog => (
                        <BlogList thumbnail="https://placehold.co/50x50" className="flex-row-reverse">
                            <h1 slot="title">{blog.title}</h1>
                            <span slot="category">{blog.category}</span>
                            <Fragment slot="author">
                                <span>Author name</span>
                            </Fragment>
                            <Fragment slot="date">
                                Jan 1, 2024
                            </Fragment>
                        </BlogList>
                    ))
                }
            </RowsWithDivider>
        </Fragment>
        
        <div class="lg:-mr-5" slot="col-3">
            <RowsWithDivider>
                <BlogCard />
                
                {
                    blogs.map(blog => (
                        <BlogList thumbnail="https://placehold.co/50x50">
                            <h1 slot="title">{blog.title}</h1>
                            <span slot="category">{blog.category}</span>
                            <Fragment slot="author">
                                <span>Author name</span>
                            </Fragment>
                            <Fragment slot="date">
                                Jan 1, 2024
                            </Fragment>
                        </BlogList>
                    ))
                }
            </RowsWithDivider>
        </div>
    </Cols3WithDivider>

    <Cols2WithDivider className="border-b my-5 gap-5">
        <div class="lg:-mx-5" slot="col-1">
            <YoutubeEmbed videoId="UXXkknPLHwk" />
        </div>
        <div class="lg:-mr-5" slot="col-2">
            <RowsWithDivider>
                <Cols2 className="grid-cols-2">
                    <BlogCard />
                    <Fragment slot="col-2">
                        <BlogCard />
                    </Fragment>
                </Cols2>
                <Cols2 className="grid-cols-2">
                    <BlogList thumbnail="https://placehold.co/50x50">
                        <h1 slot="title">This blog title</h1>
                        <span slot="category">Category</span>
                        <Fragment slot="author">
                            <span>Author name</span>
                        </Fragment>
                        <Fragment slot="date">
                            Jan 1, 2024
                        </Fragment>
                    </BlogList>
                    <BlogList thumbnail="https://placehold.co/50x50" slot="col-2">
                        <h1 slot="title">This blog title</h1>
                        <span slot="category">Category</span>
                        <Fragment slot="author">
                            <span>Author name</span>
                        </Fragment>
                        <Fragment slot="date">
                            Jan 1, 2024
                        </Fragment>
                    </BlogList>
                </Cols2>
            </RowsWithDivider>
        </div>
    </Cols2WithDivider>

    <Cols2 className="border-b lg:grid-cols-2 my-5">
        <BlogCard />
        <Fragment slot="col-2">
            <BlogCard />
        </Fragment>
    </Cols2>

    <Trending className="my-5" />

    <Popular className="my-5" />
</Layout>